*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.logo {
  margin-left: 16px;
}
.phone {
  margin-right: 43px;
  margin-top: 11px;
}

.menu {
  margin-top: 16px;
}
.menu__list {
  display: flex;
}
.menu__item + .menu__item {
  margin-left: 30px;
}
.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  color: #001e64;
  font-size: 18px;
  line-height: 21px;
}
.menu__link:hover {
  border-bottom: 1px solid #001e64;
}

.header__content {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 20px;
  margin-top: -100px;
  min-height: calc(100vh - 50px);
}

.title {
  font-family: "Roboto Slab", serif;
  color: #001e64;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  max-width: 589px;
  padding-top: 200px;
  padding-left: 112px;
  margin-bottom: 60px;
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 57px;
  padding-bottom: 135px;
}

.header-slider__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 40px;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-dots {
  list-style: none;
  position: absolute;
  left: 35px;
  top: 58px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-dots button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.5;
  cursor: pointer;
}

.slick-active button {
  opacity: 1;
}

.slick-dots button::before {
  content: "0";
}

.slick-dots li:nth-child(n + 10) button::before {
  content: " ";
}

.header__content-btn {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 14px 88px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 112px;
  display: inline-block;
  transform: translateY(-100px);
  position: absolute;
}

.header__content-box {
  display: flex;
  margin-left: 100%;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.header__content-link--active {
  font-weight: 700;
}

.product {
  padding-top: 100px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}

.product__name {
  width: 510px;
  text-align: center;
  padding-top: 41px;
}

.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
}

.product__name-item.slick-current {
  font-weight: 700;
  font-size: 36px;
  color: #001e64;
}

.product__name-item + .product__name-item {
  margin-top: 30px;
}

.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-prev,
.product-next {
  border: none;
  background-color: transparent;
  padding: 0;
}
.product__content {
  width: 600px;
}

.product__content-box {
  display: flex;
  justify-content: space-between;
}

.product__content-img {
  object-fit: cover;
}

.product__content-list {
  width: 291px;
  list-style: none;
}

.product__content-item {
  margin-bottom: 30px;
}

.product__content-item span {
  display: block;
  margin-bottom: 10px;
  color: #001e64;
}

.product__content-title {
  font-family: "Roboto Slab", serif;
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
  margin-bottom: 20px;
}

.product__content-text {
  margin-bottom: 25px;
}

.product__content-btn {
  font-family: "Roboto Slab", serif;
  display: inline-block;
  color: #001e64;
  padding: 12px 85px;
  background-color: transparent;
  text-transform: uppercase;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  border: 1px solid #001e64;
  border-radius: 20px;
  cursor: pointer;
}

.seafood-box {
  background-image: url(../images/seafood-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 290px 0 95px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.seafood-box__items {
  display: flex;
  justify-content: space-around;
}

.seafood-box__item {
  width: 180px;
  min-height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/seafood-decor.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.seafood {
  padding: 100px 0;
}

.seafood__items {
  margin-bottom: 100px;
}
.seafood__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.seafood__item-title {
  max-width: 490px;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #001e64;
}
.seafood__item-text {
  max-width: 420px;
  margin-bottom: 20px;
}
.seafood__item--text-right .seafood__item-title {
  max-width: 420px;
}
.seafood__item--text-right .seafood__item-content {
  margin-right: 180px;
}

.seafood_blockquote {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.seafood__blockquote-text {
  max-width: 530px;
  margin: 0 auto;
  font-size: 18px;
}
