*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.logo {
  margin-left: 16px;
}
.phone {
  margin-right: 43px;
  margin-top: 11px;
}

.menu {
  margin-top: 16px;
}
.menu__list {
  display: flex;
}
.menu__item + .menu__item {
  margin-left: 30px;
}
.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  color: #001e64;
  font-size: 18px;
  line-height: 21px;
}
.menu__link:hover {
  border-bottom: 1px solid #001e64;
}

.header__content {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 20px;
  margin-top: -100px;
  min-height: calc(100vh - 50px);
}

.title {
  font-family: "Roboto Slab", serif;
  color: #001e64;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  max-width: 589px;
  padding-top: 200px;
  padding-left: 112px;
  margin-bottom: 60px;
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 57px;
  padding-bottom: 135px;
}

.header-slider__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 40px;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-dots {
  list-style: none;
  position: absolute;
  left: 35px;
  top: 58px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-dots button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.5;
  cursor: pointer;
}

.slick-active button {
  opacity: 1;
}

.slick-dots button::before {
  content: "0";
}

.slick-dots li:nth-child(n + 10) button::before {
  content: " ";
}

.header__content-btn {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 14px 88px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 112px;
  display: inline-block;
  transform: translateY(-100px);
  position: absolute;
}

.header__content-box {
  display: flex;
  margin-left: 100%;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.header__content-link--active {
  font-weight: 700;
}
